:root {
  --background-center: #1f2463;
  --background-edge: #001059;
  --foreground: #ededed;
}

body {
  color: var(--foreground);
  background: radial-gradient(circle at center, var(--background-center) 0%, var(--background-edge) 100%);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
